body {
  min-height: 2000px;
  display: block;
  padding-top: 70px;
}

img {max-width: 100%;}

.container {
    max-width: 1000px;
    margin: 0 auto;
    display: block;
}

.navbar {
    background-color: #d6d4d0;
}

.section.top {
    margin: 0;
    margin-top: -40px;
    overflow: hidden;
    padding: 0;
    position: relative;
}

.section.top img{
    display: block;
    height: auto;
    left: 0;
    max-width: 100%;
    position: relative;
    top: 0px;
    width: 100%;
    z-index: 0;
    margin-bottom: 40px
}

.section.top .container {
    width: none;
    max-width: none;
    position: absolute;
    top: 0;
    width: 70%;
    max-height: 480px;
    z-index: 1;
    float: left;
    font-family: "ff-meta-serif-web-pro", Arial, Times, "Times New Roman", serif;
    margin-top: 40px;
    margin-left: 40px;
    color: #a8a59c;
    font-size: 7.5vw;
    letter-spacing: -1px;
    line-height: 1;
    text-align: left;
    opacity: .7
}

.divider {
    background: url(../img/bookspline.jpg) center top no-repeat;
    background-position:absolute;
    min-height: 80px;
    display: compact;
    margin-top: -21px;
    margin-bottom: 20px;
}

.site-width {
    max-width: 960px;
    width: 90%;
    margin: 0 auto;
    clear: left
}

.copy-width {
    float: left;
    width: 81.53333333333335%;
    margin: 0 .8999999999999999%;
    margin-left: 9.233333333333334%;
    clear: left;
    float: none
}

p {
    font-family: "ff-meta-serif-web-pro", Georgia, Times, "Times New Roman", serif;
    font-size: 26px;
    line-height: 39px;
    font-weight: 500;
    margin-bottom: 40px
}

h1 {
    display:block;
    font-family:"Arial", Times, serif;
}


h2 {
    font-family: "ff-meta-serif-web-pro", Arial, "Times New Roman", serif;
    font-size: 9.9vw;
    line-height: 70px;
    font-weight: 500;
    margin-bottom: 50px;
    opacity: .8;
    -webkit-font-smoothing: antialiased
}

h2 {
  font-size: 3.0vh;
}
.break {
    font-family: "ff-meta-serif-web-pro", Arial, Times, "Times New Roman", serif;
    color: #666666;
    font-size: 60px;
    line-height: 60px;
    font-weight: 700;
    margin-top: 55px;
    margin-bottom: 55px;
    text-align: center
}

.quote {
    font-family: "ff-meta-serif-web-pro", Georgia, Times, "Times New Roman", serif;
    color: #4c4c4c;
    font-size: 20px;
    line-height: 31px;
    font-weight: 100;
    margin-bottom: 30px;
    margin-left: 60px;
    width: 80%
}

.art-caption {
    font-family: "ff-meta-serif-web-pro", Georgia, Times, "Times New Roman", serif;
    font-style: italic;
    color: #4c4c4c;
    font-size: 1.9vw;
    line-height: 33px;
    font-weight: 100

}

footer {
    background-color: #d6d4d0;
    padding: 15px
}

@media only screen and (max-device-width: 480px) {
   p {
    font-size: 18px;
    line-height: 24px;
    }

 .break {
    font-family: "ff-meta-serif-web-pro", Arial, Times, "Times New Roman", serif;
    color: #666666;
    font-size: 20px;
    line-height: 26px;
    font-weight: 700;
    text-align: center
}   

  .quote {
    font-size: 16px;
    line-height: 20px;
}
@media print {
      /* style sheet for print goes here */
body {
    width: 100%;
    height: 100%;
    margin: .0.5cm;
}


  p. {
    font-family:times,serif;
    font-size:12px;  
    line-height: 18px;
}
 .break {
    font-size: 20px;
    line-height: 26px;
    text-align: center
}  
  .quote {
    font-size: 14px;
} 
    img {
    width: 640;
}
.site-width {
    width: 100%;
    margin: .0.5cm;
}

.copy-width {
    float: left;
    width: 80%;
    margin: .0.5cm;
}

} 